.container {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2em;
}
#content{
    overflow: auto;
}
#post{
    background-color:#5efff3 ;
    width: 600px;
    height: 400px;
    float: left;
}
#sidebar {
    background-color: #f5ff4c;
    width:300px ;
    height: 400px;
    float: right;
}
.clear{
    clear: both;
}
